.dark {
    header {
        background-color: black;
        color: $color2;

        #headerLogo {
            filter: invert(100%);
        }

        #headerMainContentContainer {
            .colorModeBtnImg {
                filter: invert(100%);
            }
            
            #languageIcon {
                filter: invert(100%);
            }

            #navbar {
                background-color: black;

                li {
                    a {
                        color: $color2;
    
                        .navbarIcons {
                            width: 32px;
                            filter: invert(100%);
                        }

                        .navbarTxt {
                            @include respondTo(md) {
                                &:hover {   
                                    color: $color2;
                                }
                            }
                        }
                    }
                }
            }

            #burgerMenuMainContainer {
                .burgerMenuImgContainer {
                    img {
                        filter: invert(100%);
                    }
                }
            }
        }

        #burgerMenu {
            li {
                border-bottom: $color2 solid 1px;

                a {
                    color: $color2;
                }
            }
        }
    }

    main {
        section {
            color: white;

            h4, strong {
                color: $color2 !important;
            }

            .sectionTitle {
                color: $color2 !important;
                
                &::after {
                    background-color: $color2 !important;
                }
            }

            .cta {
                color: black;
                background-color: $color2;
            }
        }

        #homeSection {
            background-color: #333;

            #homeMainContentContainer {
                @include respondTo(md) {
                    border: solid 1px $color2 !important;
                    background-color: rgba(200, 200, 200, 0.1) !important;
                }

                #titleContainer {
                    h1 {
                        color: $color2 !important;
                    }
                }

                #homeSpeechAndCtaContainer {
                    h2 {
                        color: $color2 !important;
                    }
    
                    p {
                        color: white;
                        
                    }
    
                    #homeCtaMainContainer {
                        #homeCta {
                            border-right: solid $color2 2px !important;
                            border-bottom: solid $color2 2px !important;
                            background-color: $color2 !important;
                            
                            p {
                                color: black !important;

                                &:hover {
                                    color: white !important;
                                }
                            }
                        }
                    }
                }
            }

            #rightSidenavContainer {
                background-color: $color2 !important;
            }

            #mouse {
                border: solid $color2 2px;
                
                #scrollContainer {
                    &::before {
                        background-color: $color2;
                    }
                }
            }
        }

        #aboutSection {
            background-color: #444;

            h2, h3, strong {
                color: $color2 !important;
            }

            #skillsContainer {
                .skills {
                    color: black !important;
                    background-color: $color2 !important;
                }
            }

        }

        #projectsSection {
            background-color: #333;
        }

        #contactSection {
            background-color: #444;

            .formMainContainer {
                background-color: #333;
                border: solid $color2 2px !important;

                .formLogo {
                    filter: invert(100%);
                }

                .formTitle {
                    color: $color2;
                }
    
                .formBtn {
                    background: $color2;
    
                    &:hover {
                        background-color: rgba(0, 0, 0, 1);
                    }
                }

                .formInput {
                    border: solid 2px $color2 !important;
                    background-color: #444;
                }

                button.formBtn {
                    color: #333;
                    transition: 0.6s;

                    &:hover {
                        color: white;
                        transition: 0.6s;
                    }
                }
            }
        }

        #gallery {
            background-color: #444;

            h1 {
                color: $color2;
            }

            .projectsGalleryMainsContainers {
                h2 {
                    color:$color2;
                }

                .projectsGalleryContainers {
                    background-color: #333;

                    .projectsGalleryImgs {
                        border-bottom: solid rgba(0, 0, 0, 0.2) 2px;

                        @include respondTo(md) {
                            border: 0;
                        }
                    }

                    .projectsGalleryCtaDescriptionContainer {
                        color: white;
                        
                        .projectsGalleryCta {
                            background-color: $color2 !important;
                            color: black !important;

                            border-bottom: solid #666 2px !important;
                            border-right: solid #666 2px !important;
                        }
                    }
                }

                @include respondTo(md) {
                    &.right {
                        .projectsGalleryImgs {
                            border-left: solid rgba(0, 0, 0, 0.2) 2px;
                        }
                    }
    
                    &.left {
                        .projectsGalleryImgs {
                            border-right: solid rgba(0, 0, 0, 0.2) 2px;
                        }
                    }
                }
            }
        }

        #map {
            border-top: $color2 solid;
            border-bottom: $color2 solid;
        }
    }

    footer {
        h2, #footerName {
            color: $color2 !important;
        }
        
        #propertyContainer {
            a {
                color: $color2;
            }
        }
    }
}