header {
    gap: 0 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: $boxShadow;
    color: $color1;

    #headerLogo {
        display: none;

        @include respondTo(sm) {
            display: block;
            left: 2rem;
            top: 1.5rem;
            position: absolute;
            width: 8rem;
            border-radius: 100%;
            border: solid rgba(0, 0, 0, 0.4) 2px;
            box-shadow: $boxShadow;
        }
    }
    
    #headerMainContentContainer {
        padding: 1rem 0.5rem;
        align-items: center;
        display: flex;

        #logoContainer {
            display: flex;
            align-items: center;
            gap: 0 1rem;
            width: fit-content;
            position: relative;

            #brandName {
                font-size: 0.9rem;

                @include respondTo(tab) {
                    font-size: 1rem;
                }
            }

            @include respondTo(sm) {
                margin-left: 10rem;
            }

            @include respondTo(md) {
                margin-left: 12rem;
            }

            #pp {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                object-fit: cover;

                @include respondTo(sm) {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }

            #colorModeContainer {
                position: absolute;
                right: -2rem;
                top: 50%;
                transform: translateY(-50%);
                
                @include respondTo(sm) {
                    right: -3rem;
                }

                .colorModeBtns {
                    .colorModeBtnImg {
                        transition: 0.3s;
                        width: 1.5rem;

                        @include respondTo(sm) {
                            width: 2rem;
                        }
    
                        &:hover {
                            cursor: pointer;
                            transition: 0.3s;
                            transform: translateY(-2px);
                        }
                    }
                }
    
                #darkModeBtn.noActive {
                    display: none;
                }
    
                #lightModeBtn.noActive {
                    display: none;
                }
            }

            #langSwitchContainer {
                position: absolute;
                right: -4rem;
                top: 50%;
                transform: translateY(-50%);

                @include respondTo(sm) {
                    right: -6rem;
                }
                
                #languageIconContainer {
                    #languageIcon {
                        width: 1.5rem;
                        transition: 0.3s;
                        
                        @include respondTo(sm) {
                            width: 2rem;
                        }

                        &:hover {
                            cursor: pointer;
                            transition: 0.3s;
                            transform: translateY(-2px);
                        }
                    }
                }

                #dropDownContainer {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    border: solid #333 2px;
                    background-color: #fff;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: .5rem;
                    gap: .5rem 0;
                    padding: 0.5rem 1.5rem;
                    
                    &.open {
                        display: flex;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0 0.5rem;
                        font-size: 0.75rem;
                        color: #333;
                        text-decoration: none;

                        img {
                            border-radius: 0;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
        }
    
        #burgerMenuMainContainer {
            @include respondTo(sm) {
                right: 2rem;
            }

            @include respondTo(md) {
                display: none;
            }
    
            .burgerMenuImgContainer {
                img {
                    width: 1.5rem;
                    
                    @include respondTo(sm) {
                        width: 2rem;
                    }
                    
                    @include respondTo(md) {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
    
            #burgerMenuCloserContainer {
                display: none;
            }
        }
    }

    #burgerMenu {
        display: none;
        font-size: 0.85rem;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            align-items: center;
            justify-content: right;
            
            li {
                text-align: right;
                padding: 0 1rem 1rem 0;
                width: 100%;
                border-bottom: solid rgba(0, 0, 0, 0.1) 1px;

                a {
                    text-decoration: none;
                    color: #333;
                    transition: 0.3s;

                    @include respondTo(md) {
                        &:hover {
                            color: $color1;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}